#b{
    background-image: url(./Nature.webp);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#form{
    background-color: rgb(57, 209, 239);
    margin: 6.5cm 20%;
    padding: 1% 0% 2% 0%;
    border-radius: 1cm;
    opacity: 0.65;
}
#sel1{
    border-radius: 2cm;
    padding: 0% 5% 0% 2%;
}
#sel2{
    border-radius: 2cm;
    padding: 0% 5% 0% 2%;
}
#a{
    margin-left: 5%;
}
#in{
    margin-left: 5%;
}